h1, h2, h3, p {
  font-family: Helvetica;
}

.header h1 {
  color: khaki;
  text-align: center;
  font-size: 100px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.products h2  {
  color: white;
  font-size: 32px;
}

.pricing {
  color: blue;
 }

.header h1, .products h2, .pricing {
  font-weight: bold;
}
#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
